:root {
    --stcolor: #e50914;
    --backcolor: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--backcolor);
    font-family: 'Open Sans', sans-serif;
}

/* Header container */
.container {
    width: 90%;
    margin: auto;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1001;
    padding: 30px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--stcolor);
    font-size: 40px;
}

header nav a {
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.active{
    color: #fff;
}

/* Main st-movie */
.st-movie {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0,0,0, .50) 0%, rgba(0,0,0, .50) 100%), url(images/theDarkKnight.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.st-movie .container {
    margin-bottom: 8.25em;
}

.st-movie .title {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.st-movie .description {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.st-movie .btn {
    background-color: rgba(0,0,0, .50);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .5s ease all;
    font-size: 1.12em;
    text-decoration: none;
}

.st-movie .btn:hover {
    background: #fff;
    color: #000;
}

/* Special Section */
.container-titles-controls {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.container-titles-controls h3 {
    color: #fff;
    font-size: 30px;
}

.container-titles-controls .kpis button {
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.container-titles-controls .kpis button:hover,
.container-titles-controls .kpis button.active {
    background: #e50914;
}

.special-section-series {
    margin-bottom: 70px;
}

.special-section-series .container-special-section {
    display: flex;
    align-items: center;
    position: relative;
}

.special-section-series .container-special-section .left-arrow, 
.special-section-series .container-special-section .right-arrow {
    position: absolute;
    border: none;
    background: rgba(0,0,0, .30);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .3s ease all;
}

.special-section-series .container-special-section .left-arrow:hover, 
.special-section-series .container-special-section .right-arrow:hover {
    background: rgba(0,0,0, .90);
}

.special-section-series .container-special-section .left-arrow {
    left: 0;
}

.special-section-series .container-special-section .right-arrow {
    right: 0;
}

/* Carousel */
.special-section-series .container-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.special-section-series .container-carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
}

.special-section-series .container-carousel .carousel .series-carousel {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .30);
}

.special-section-series .container-carousel .carousel .series-carousel.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.special-section-series .container-carousel .carousel .series-carousel img {
    width: 100%;
    vertical-align: top;
}


/* Media Queries */
@media screen and (max-width: 800px) {
    header .logo {
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    .st-movie {
        font-size: 14px;
    }

    .st-movie .description {
        max-width: 100%;
    }

    .special-section-series .container-carousel {
        overflow: visible;
    }

    .special-section-series .container-carousel .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .special-section-series .kpis,
    .special-section-series .left-arrow, 
    .special-section-series .right-arrow {
        display: none;
    }
}